/* 데스크탑, 노트북, 태블릿 가로(1366) */

/* 태블릿 L 세로 가로, 태블릿 가로 */
@media (max-width: 1240px) {
    .header {
        text-align: center;
    }
    .header>span {
        transform: translate(0px);
    }
}

/* 모바일 세로 가로, 태블릿 세로 */
@media (max-width: 768px) {
    /* base */
    html {
        /* font-size: 10.56px; */
        font-size: 12px;
    }
    .content {
        /* border: 1px solid red; */
        width: 330px;
    }
    .button {
        height: 52.8px;
    }	
    .material-symbols-outlined.info-btn { /* 도움말 기호 */
        margin-top: 6%;
        margin-left: 4%;
        font-size: 1.5rem;
    }
    .info { /* 도움말 창 */
        width: 191.4px;
        top: 11.2px;
    }
    .info-title {
        font-size: 12.67px;
    }
    .info-content {
        font-size: 10.56px;
    }
    /* 화면2 */
    .back-img  {
        background-size: 16.5px 16.5px;
    }
    /* 화면3 */
    .result-container {
        width: 330px;
        flex-direction: column;
        align-items: center;
    }
    .main-title {
        width: 316.8px;
    }
    .result-item {
        width: 100%;
        height: 330px;
        margin-bottom: 7%;
    }
    .result-item-content{
        min-height: 261.25px;
    }
    /* 결과요약*/
    .material-symbols-outlined.confidence-info {
        margin-right: 2px;
        padding-bottom: 4.8%;
        font-size: 1.1rem;
    }
        /* 폰트 */
    .desease-name {
        /* (16*1.9*0.66) */
        font-size: 20.06px;
    }
    .desease-rate{
        /* (16*1.5*0.66) */
        font-size: 15.84px;
    }
    .percent {
        font-size: 15.84px;
    }
    .severity-content {
        font-size: 11.1px;
    }
    .result-info li {
        /* (16*0.66) */
        font-size: 10.56px;
    }
    
    /*차트 */
    .chart-container{
        width: 192.5px;
        height: 192.5px;
    }
    .severity-comment {
        font-size: 10.56px;
    }
    .material-symbols-outlined.severity-comment-icon {
        font-size: 16px;
    }

    /* 추가질환 */
    .diseaseN-img-container {
        width: 206.25px;
        height: 206.25px;
    }
        /* 결과 도움말 */
    .material-symbols-outlined.result-info-btn  {
        margin-top: 4%;
        margin-left: 3%;
    }
}
