/* 데스크탑, 노트북, 태블릿 가로(1366) */

/* 태블릿 L 세로 가로, 태블릿 가로 */
@media (max-width: 1240px) {
    .header {
        text-align: center;
    }
    .header>span {
        transform: translate(0px);
    }
}

/* 모바일 세로 가로, 태블릿 세로 */
@media (max-width: 768px) {
    /* base */
    html {
        /* font-size: 10.56px; */
        font-size: 12px;
    }
    .content {
        /* border: 1px solid red; */
        width: 330px;
    }
    .button {
        height: 52.8px;
    }	
    .title span:nth-child(2) { /* 도움말 기호 */
        font-size: 1.5rem;
    }
    .info { /* 도움말 창 */
        width: 191.4px;
        top: 11.2px;
    }
    .info-title {
        font-size: 12.67px;
    }
    .info-content {
        font-size: 10.56px;
    }
    /* 화면2 */
    .back-img  {
        background-size: 16.5px 16.5px;
    }
    /* 화면3 */
    .disease {
        min-height: 198px;
    }
    .treatment {
        min-height: 198px;
    }
}
