/* 레이아웃 */
.result-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    /* gap: 20px; */
}
.result-item {
    width: 48%;
    height: 480px;
    border-radius: 30px;
    margin-bottom: 2%;
}
.result-item-content {
    height: 380px;
    background-color: #f2f6fc;
    display: flex;
    flex-direction: column;
}
/* 아이템 공통 */
/* .result-item-content div {
    border: 1px solid red;
} */
.disease-content-header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.5%;
    padding-top: 1%;
}
.disease-content-name {
    font-size: 2.3rem;
    color: #13204B;
}
.disease-content-icon>span {
    font-size: 2.8rem;
    color: #ACD0FF;
}

.disease-content {
    height: 70%;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #13204B;
    margin: 5%;
    margin-top: 0%;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.disease-content ul {
    padding-left: 6%;
}
.disease-content li {
    margin-bottom: 1%;
}
/* 질환 이미지 */
.disease-img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disease-img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 30px;
}
.disease-img-text {
    position: absolute;
    top: 6%;
    left: 6%;
    color: aliceblue;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgb(112, 112, 112);
}
/* 첨부사진-결과 */
.pre-img-container.result-preview-container {
    display: flex;  
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border:none;
    border-radius:0;
    position: relative;
}

.result-desease-container, .result-desease-container-2{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #C5C0C0; */
    border-radius: 20px;
    margin-bottom: 3.3%;
    background-color: #f2f6fc;
    padding: 2%;
    z-index: 2;
}
.result-desease {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    border-bottom: 1px solid #9e9e9e;
    padding: 2%;
}
.desease-name{
    color: #13204B;
    font-size: 1.9rem;
    font-weight: 700;
}
.desease-rate-container {
    display: flex;  
    align-items: center; 
}
.desease-rate1, .desease-rate2, .desease-rate3 {
    font-size: 1.5rem;
}
.percent {
    font-size: 1.5rem;
}
.material-symbols-outlined.confidence-info {
    font-size: 1rem;
    color: #737373;
    margin-right: 3px; /* 반응 */
    padding-bottom: 9%;
}
.severity {
    height: 50%;
    padding: 2%;
}  
.severity-rate {
   /*  display: inline-flex;
    flex-direction: row;
    align-items: center; */
    font-weight: 600;
}
.material-symbols-outlined.severity-icon {
    vertical-align: text-top;
    font-size: 1.2rem;
    margin-right: -0.5%;
}
.severity-content {
    color: #13204B;
    font-size: 1.05rem;
}

.result-info, .result-info-2{
    width: 100%;
    /* margin-top: 10%; */
}
.result-info ul {
    padding-left: 5%;
    margin-bottom: 3%;
}
.result-info li {
    /* color: #13204B; */
    margin-bottom: 1.5%;
    color: #5e5e5e;
}
.specialist:hover {
    cursor: pointer;
}
.specialist {
    width: 95%;
    border-radius: 30px;
    padding: 0.6%;
    /* background-color: #f5ecd1; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    border: 1px solid #616161;
}
.result-preview {
    width: 40% !important;
    height: 40% !important;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    top: 1%;
    left: 1%;
    /* box-shadow: 0px 0px 7px 3px rgba(26, 26, 26, 0.2); */
}
/* 로고 */
.kuLogo {
    width: 6%;
}

/* 정상피부 */
.result-normalSkin-container {
    width: 500px;
}
.result-nomalSkin-item {
    width: 100%;
}
/* 질환N */
.diseaseN-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    position: relative;
/*     border: 1px solid rgb(87, 87, 87);
    border-radius: 30px; */
}
    /* 질환N 헤더 */    
.diseaseN-title {
    width: 100%;
    margin-bottom: 6%;
    margin-top: 4%;
}            
.title-container { 
    display: flex;
    align-items: flex-start;
    position: relative;
    width: fit-content;
}
.title {
    color: #3f3f3f;
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgb(112, 112, 112);
    margin-left: 1%;
    white-space: nowrap;
}
.material-symbols-outlined.result-info-btn {
    margin-top: 4.3%;
    margin-left: 3%;
}
    /* 질환N 이미지 */
.diseaseN-img-container {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}
.diseaseN-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.material-symbols-outlined.add-icon {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 1.7rem;
    color: #607d8b;
}
    /* 추가 질환 없음 */
.no-diseaseN-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.no-diseaseN {
    font-size: 2rem;
    color: #ababab;
}
/* 차트 */
.chart-container {
    width: 280px;
    height: 280px;
    position: absolute;
    top: -5%;
    right: -1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chartdiv {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.severity-comment {
    position: absolute;
    bottom: 21%;
    display: flex;
    align-items: center;
    color: #13204B;
}
.material-symbols-outlined.severity-comment-icon {
    font-weight: 600;
    font-size: 1.4rem;
}
/* 링크 */

