.load{
 
/*  border: 1px solid red; */
 width: 95%;
} 

.teal{
    background-color: #5f98b3 !important;
}
.progress.progress-selector {
    height: 25px !important;
    border-radius: 20px;
}
.progress-name {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1.7%;

}
.progress-name span {
    font-size: 2.5rem;
    font-weight: 700;
    color: #48555b;
}
.material-symbols-outlined.load-diagnosis-icon {
    font-size: 4rem;
} 