.load{
 
/*  border: 1px solid red; */
 width: 90%;
} 

.teal{
    background-color: #5A77A4    !important;
}
.progress-name {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7%;

}
.progress-name span {
    font-size: 2.5rem;
    font-weight: 700;
    color: #13204B;
}
/* .material-symbols-outlined.load-diagnosis-icon {

} */