<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="fail item">
        <div class="fail-header">사진이 올바르지 않습니다.</div>
        <div class="fail-sub-header">확인해주세요!</div>
        <ul class="photo-instructions">
            <li>사진을 5~10cm 이내에서 찍어주세요</li>
            <li>어두운 환경은 지양해주세요</li>
            <li>병변부위를 사진 가운데에 위치시키세요</li>
            <li>사진에 피부를 제외한 요소가 없어야합니다!</li>
        </ul>
    </div>
    <div class="retry button item"><span></span><span class="btn-text">다시시도</span></div>
</body>
</html>