<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="loading">
        <div class="load item" style="display: none;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped teal" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="progress-name"><span>AI 진단중..</span></div>
        </div>
    </th:block>
</body>
</html>


